<%= week_calendar events: @meals do |date, meals| %>
  <%= date %>
  <% meals.each do |meal| %>
    <div>
      <%= link_to meal.recipe.name, recipe_path(meal.recipe) %>
    </div>
  <% end %>
<% end %>