<%= month_calendar events: @meals do |date, meals| %>
  <%= date.strftime("%B  %-d, %Y") %>
  <% meals.each do |meal| %>
    <div>
      <br/>
      <%= link_to meal.recipe.name, recipe_path(meal.recipe) %>
      <br/>
      <br/>
    </div>

    <% puts meal.recipe.present? %>
  <% end %>

  <% if meals.empty? %>
    <p><%= link_to "+", new_meal_path(:start_time => date), class: "btn btn-info" %></p>
  <% end %>
<% end %>