@import "bootstrap";

$font-stack: Helvetica, sans-serif;

body {
  margin-left: 20px;
  margin-right: 20px;
  font: $font-stack;
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

.simple-calendar {
  .day {
    height: 150px;
    width: 14.28%;
    border: 1px solid grey;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}